.ms_background-color {
    background-color: rgb(61, 10, 109);
}

.ms_background-color-b {
    background-color: rgb(156, 88, 219);
}

.ms_title-color {
    color: #fff;
    font-size: 50px;
}

.ms_box {
    color: #fff;
    height: 112px;
    background-color: brown;
    line-height: 112px;
    font-size: 20px;
    border-radius: 50%;
}

.ms_box-fizz {
    background-color: cadetblue;
    color: #000;
}

.ms_box-buzz {
    background-color: rgba(128, 255, 0, 0.315);
}

.ms_box-fizzbuzz {
    background-color: darkkhaki;
    color: #000;
}